body {
  background:#050505;
  color:#00ff99;
  font-family:Arial;
  text-align:center;
}

select,input,button {
  padding:10px;
  margin:8px;
  width:250px;
}

button {
  background:#00ff99;
  border:none;
  cursor:pointer;
}
